// Copyright (c) Microsoft. All rights reserved.
using System.Text.Json.Serialization;

#pragma warning disable IDE0130
namespace {{ node.typeName.namespace }};
#pragma warning restore IDE0130

/// <summary>
{%- for line in node.description.split('\n') %}
/// {{ line }}
{%- endfor %}
/// </summary>
[JsonConverter(typeof({{ node.typeName.name }}JsonConverter))]
public{% if node.isAbstract %} abstract{% endif %} class {{ node.typeName.name }}{% if node.base %} : {{ node.base.name }}{% endif %}
{
    /// <summary>
    /// Initializes a new instance of <see cref="{{ node.typeName.name }}"/>.
    /// </summary>
    #pragma warning disable CS8618
    {% if node.isAbstract %}protected{% else %}public{% endif %} {{ node.typeName.name }}()
    {
    }
    #pragma warning restore CS8618
    {% for prop in node.properties %}    
    {{ renderSummary(prop) | safe }}
    public {{ renderPropertyModifier(prop) }}{{ renderType(prop) | safe }} {{ renderPropertyName(prop) }} { get; set; }{{ renderDefault(prop) | safe }}
    {% endfor %}
}
